# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Wicked Free Wi-Fi Landing Pages
email: digital@boston.gov
description: > # this means to ignore newlines until "baseurl:"
  A base for any static HTML projects
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://cob-wifi.herokuapp.com" # the base hostname & protocol for your site
twitter_username: CityOfBoston
github_username:  CityOfBoston

# Build settings
markdown: kramdown

exclude: [node_modules, package.json, Gulpfile, Gemfile, Gemfile.lock, vendor, Rakefile, Procfile, config.ru]
keep_files: [assets]
permalink: '/:collection/:title/'

collections:
  locations:
    output: true
    permalink: /locations/:path.html

defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: locations
    values:
      layout: "location"

test:
  post:
    - rake test
