<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="ff-ss">
    <img src="/images/wifi.svg" alt="Wicked Free Wifi" class="w-100 mw-250 mb-400" />
    <h1 class="fs-600 lh-100 tt-u mv-000 mb-100">Wicked Free Wifi</h1>
    <h2 class="fs-600 lh-100 tt-u mv-000 mb-100">{{ page.title }}</h2>
    <div class="c-g100 lh-300 ff-s fs-400 fs-i">Boston's public wireless network</div>
    <div class="mv-200 mh-50">{{ content }}</div>
    <div class="ff-s fs-i mb-100">please read and agree to the <strong><a href="/terms" title="Terms and Conditions" class="c-w td-n">terms and conditions</a></strong></div>
    <a href="$MERAKI:AUTH_AND_CONTINUE_URL$" class="bg-w c-fg d-ib fs-600 fw-700 ph-200 pv-100 td-n tt-u">Go Wicked</a>
  </body>
</html>
